<mat-card>
  <mat-toolbar>Edit User Details</mat-toolbar>
  <br><br>
  <form (ngSubmit)="UpdateUser(userform)" #userform="ngForm">
    <mat-form-field>
      <input
      type="text"
      matInput
      name="uname"
      ngModel
      required
      placeholder="Enter Your name">
    </mat-form-field>
    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      name="email"
      ngModel
      required
      email
      placeholder="Enter Your Email">
    </mat-form-field>

    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      name="contact"
      ngModel
      required
      pattern="[0-9]{0,10}"
      placeholder="Enter your contact Details">
    </mat-form-field>

    <br><br>

    <mat-form-field>
      <input
      type="text"
      matInput
      name="designation"
      ngModel
      required
      placeholder="Enter your designation">
    </mat-form-field>

      <br><br>
    <button type="submit" mat-raised-button color="primary">Update User</button>

  </form>
</mat-card>
